APPLICATION_PORT=8081
APPLICATION_PROJECT_NAME=mg-identity-service

DATASOURCE_URL=jdbc:postgresql://localhost:5432/dev
DATASOURCE_DB=mg-identity-service
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=root

ACCESS_TOKEN_LIFETIME=1d
ACCESS_TOKEN_PRIVATE_KEY_PATH=classpath:access-token/private-key.pem
ACCESS_TOKEN_PUBLIC_KEY_PATH=classpath:access-token/public-key.pem

REFRESH_TOKEN_LIFETIME=2d
REFRESH_TOKEN_PRIVATE_KEY_PATH=classpath:refresh-token/private-key.pem
REFRESH_TOKEN_PUBLIC_KEY_PATH=classpath:refresh-token/public-key.pem